html * { font-size:medium !important; color: rgb(255, 255, 255) !important; font-family: 'Poppins', sans-serif !important; }

.contenedorRelativo{
  position:absolute;
  width:95%;
  height:25%;
  z-index: 1;
}

.contenedorGaleria{
  width: 100%;
  height: auto;
  background: darkcyan;
  flex-wrap: wrap;
}

.padding1{
  padding: 1%;
}

.borde1{
  border-radius: 0.5em;
}

.espacioEquilatero{
  justify-content: space-between;
}

@media (max-width: 640px) {
  .espacioEquilatero{
    justify-content:center;
  }
}

.tamanoImagen{
  height: 20px;
}

.tamanoImagenSlide{
  height: 200px !important;
}

.botonAdelante{
  position: absolute;
  top: 30%;
  left: 7%;
  width: 50px !important; 
  height: 50px !important;
  z-index: 100;
}

.botonAtras{
  position: absolute;
  top: 26% !important;;
  right: 0%;
  width: 50px !important; 
  height: 50px !important;
  z-index: 100;
}




.slide.esconder{
  display: none;
}

.slide{
  animation: aparecer 2s;
}

@keyframes aparecer {
  from { opacity: 0; }
  to {opacity: 1; }
}





.cuerpo{
  background: #644738;
  height: 355px;
}

.color1{
  background: #343b41;
}

.color2{
  background: #c54906;
}


.esquina1{
  padding: 1%;
}

.ancho{
  width: 100%;
}

.scrollHorizontal{
  overflow: auto;
  
 
}

.scrollVertical{
  overflow-y: scroll; 
 
}

.hijo{
  width: 100%;
}





.mirar{
    width: 30%;
    height: 30px;
    background: #706762;
}

.mirar2{
    width: 30%;
    height: 30px;
    background: #c54906;
}

.flex{
    display: flex;
}

.block{
  display: block;
}

.altura{
    height: 40px;
    background: #343b41;
}

.centrar {
    text-align: center;
}



.color1{
    background: #1133a1;
}


/*th,td {
  text-align: center;
  vertical-align: middle;
}

body{
  background: rgba(9, 3, 63, 0.034)
}

h1{
  color:aliceblue;
}

.colorLetraMenu{
  color: aliceblue;
}

.fondo{
  background: rgb(2, 55, 102)
}

.navbar-nav {
    border:1px solid rgb(255, 255, 255); border-radius:1em; 
    
}

.navbar-nav:hover{
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgb(255, 255, 255); 
}

.navbar-nav:active{
  transition: 1s;
  box-shadow:0 0 50px #000000 inset, 0 1px rgba(201, 94, 45, 0.2) inset,0 5px 15px rgb(255, 255, 255); 
}

.minimo{
  height: 50px;
}

.tamano{
  height: 1em;
}

.tamanoMenu{
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 3px;
  width: 5vh;
  height: 5vh;
}

.paddingImagen{
  padding-right: 5px;
}

.lista{
  border-radius: 0.9em;
  transition: 250ms;
}

.lista:hover{
  background: rgb(4,177,196);
}

.centrarImagen{
  padding-left: 30%;
}

.donar{
  display: flex;
}

/* responsive */
@media (max-width: 991px){
  .navbar-nav {
    border:none;
    background: none;
    box-shadow: none;
  }

  .navbar-nav:hover{
    box-shadow:none; 
  }

  .navbar-nav:active{
    background: #706762;
  }

  

  .centrarImagen{
    padding-left: 1px;
  }
}


/**/

body{
    color:aliceblue;
}

.forma{
    background: #343b41;
    width: 90%;
    height: 90%;
    margin: 50px auto;
    border-radius: 4px;
    padding: 55px 30px;
}

.contenedorInicial{
    padding-left: 1%;
    padding-right: 5%;
    padding-top: 2%;
    
  }
  
.enviar{
  background: #343b41;
  transition: 0.5s;
}

.enviar:hover {
  background-color: yellow;
}

  
  form .title h2{
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
  }
  
  form .half{
    padding-right: 2.5%;
    display: flex;
    justify-content: space-between;
  }
  
  form .half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
  }
  
  form label{
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
  }
  
  form .half .item input{
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
  }
  
  form .full{
    margin-bottom: 16px;
    padding-right: 2.5%;
  }
  
  form .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 10%;
    font-size: 17px;
  }
  
  form .action{
    margin-bottom: 32px;
  }
  
  form .action input{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
  }
  
  form .action input[type="submit"]{
    background: white;
    color: black;
  }
  
  form .icons a{
    border: 1px solid white;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    width: 38px;
    margin-right: 10px;
  }
  
  form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{
    background: rgba(255,255,255,0.075);
  }

  textarea, input {
    font-family: 'Times New Roman', Times, serifS;
    font-size: 20pt;
    color: rgb(160, 182, 184);
    }

    .mensajeCuerpo{
      border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    background: transparent;
    font-size: 17px;
    height: 15vh;
    }

    
  
  @media (max-width: 1000px){
   .contenedorInicial{
     padding-right: 10%;
  }
  
   form .full{
    margin-bottom: 24px;
    padding-right: 10%;
   }
  
    form .half{
      flex-direction: column;
      padding-right: 30px;
      
    }
    form .half .item{
      width: 100%;
    }
    form .action{
      display: flex;
      flex-direction: column;
    }
    form .action input{
      margin-bottom: 10px;
      width: 100%;
    }
  }

  @media (max-width: 2390px){
    .contenedorInicial{
      padding-top: 4%;
   }
  }

  @media (max-width: 591px){
    .contenedorInicial{
      padding-top: 28%;
   }
  }
  

  /**/

  html * { font-size:medium ; color: rgb(255, 255, 255) ; font-family: 'Poppins', sans-serif !important; }

#cajas {
    float: left;
    width: 100px;
    height: 70px;
    margin: 10px;
    border: 1px solid black;
  }

.cajaBlock{
    display: block;
}  

.displayFlex{
    display: flex;
}

h2,p{
    color: aliceblue;
}

.idea.encoger{
    transition: 0.5s;
    width:23px;
}

.contenedorPadre{
    padding-bottom: 5px;
    padding-right: 2px;
     
}

.figuras{
    width: 50px;
    height: 85px;
    padding-right: 40px;
    background: rgb(255, 255, 255);
    border-radius: 0.5em;   
    cursor: pointer; 
    border:none;
}

.ajusteFiguras{
    width:40px;
    height: 75px;
    border:none
}

.contenedorFiguraAUsar{
    display: flex;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow-y: hidden; 
    overflow-x: auto;
}



.divFiguras{
    display: flex;
    height:90px;
    border-radius: 0.5em;
}

.imagenesDictado{
    color: black !important;
    font-size:larger !important;
    padding-top: 10px;
    padding-left: 10px;
    width:  40px;
    height: 75px;   
}

.cajaImagenesDictado{
    width: 50px;
    height: 90px;
    padding-right: 40px;
    background: rgb(255, 255, 255);
    border-radius: 0.5em;   
    cursor: pointer; 
}

.acordes{
    font-size: x-large;
}

.centrar{
    color: black !important;
    font-size:larger !important;
    padding-left: 70%;
    padding-top: 100%;
}

.botonAtras{
    padding-top: 30px;
    width: 75px;
    height: 60px;
    padding-right: 40px;
    background: none;
    border-radius: 0.5em;   
    cursor: pointer; 
}



.centrarNota{
    padding-top: 30%;
    color: black !important;
    font-size:larger !important;
}

.letraBlanca{
    color: rgb(255, 255, 255) !important;
}

.letraNegra{
    color: rgb(0, 0, 0) !important;
}



.contenedorMuestra{
    overflow-y: hidden; 
    overflow-x: auto;
    height:fit-content;
}

.bordePerzonalizado{
    border-top-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

.panelDeControl{
    padding-bottom: 10px;
}

.centrarNotatrack{
   color: black !important;
   font-size:larger !important;
   padding-top: 20px;
   padding-left: 10px;
}

.creadores{
    color: black;
}

.modalFiguras, .modalNotas, .modalCrear{
    display: block;
}

.modalFiguras.esconder, .modalNotas.esconder, .modalCrear.esconder, 
.crearSoloNota.esconder, .crearDictadoPercusivo.esconder, .crearMelodia.esconder{
    display: none;
}

.ladoIzquierdo{
    float: left;
}


.padinLeft{
    padding-left: 7%;
}

.padingTopGrande{
    padding-top: 5%;
}

.paddingbottom{
    padding-bottom: 10px;
}

.paddingRight{
    padding-right: 20px;
}

.compas, .compaces, .silencios, .figurass, .tonalidad, .modo, .botonCrearMelodia{
    display: flex;
} 



.padinLeftGrande{
    padding-left: 200px;
}


.botonIdeasCopia{
    display: flex;
    background: rgba(53,58,65,255);
    border: 0.1em #ccc solid ;
    color:#fafafa;
    border-radius: 0.5em;
    -webkit-box-shadow: 3px 1px 28px 3px rgba(255,255,255,0.42); 
    box-shadow: 3px 1px 28px 3px rgba(255,255,255,0.42);
}

.botonCrearMelodia{
    background: rgba(53,58,65,255);
    border: none;
    border-radius: 0.5em;
    float: left;
    background: rgb(2, 55, 102);
    transition: 0.5s;
}

.botonCrearMelodia:hover{
    background: rgba(255, 84, 87);
}





.tituloModal{
   font-size: 20px;
}

.itemsCrearIdeasSuperior{
    width: fit-content;
}

.secciones{
    display: block;
    color:#ccc;
    border-top-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    background: rgba(53,58,65,255);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.paddingRightGrande{
    padding-right: 20px;
}

.minContent{
    width: 80px;
}

.letraBlanca{
    color: #ccc;
}

.BotonesConImagen{
    border: none;
    background: none;
}

.contenedorPadding{
    padding-left: 1%;
    padding-right: 1%;
}

.trackss{
    background:rgba(0, 0, 0, 0.397);
    border-radius: 0.7em;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}



.fondoTrcaks{
    background: rgba(0, 0, 0, 0.2);
}

.bordeGenerico{
    border-top-right-radius: 0.7em;
}

.listaMusical{
    border-radius: 0.9em;
    transition: 250ms;
  }
  
.listaMusical:hover{
    background: rgba(255, 255, 56);
}
.listaOpciones{
    border-radius: 0.9em;
    transition: 250ms;
  }
  
.listaOpciones:hover{
    background: rgba(4, 177, 196);
}

.bordeBlanco{
    border: 0.1em #ccc solid ;
}

.sinpading{
    padding-left: 0px;
}

option{
    background: rgb(225, 84, 87)
}

@media (max-width: 717px){
    .compaces{
       padding-left: 0px;
    }
    .bloqueGrande{
        display: flex;
    }

    .secciones{
        display: block;
    }
}

@media (max-width: 576px){
    .adaptacionLargo{
        width: 290px;
    }
}

@media (max-width: 450px){
    .titulosHerramientas{
        font-size:x-small;
    }
}



/**/



.bordes{
    background: rgba(2,55,102);
    padding-top: 30px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-top-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

.contenedorInicial{
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 8%;
    padding-bottom: 1%;
}

.tamanoGrafica{
    position: relative; 
    height:max-content;
    width:max-content;
    
   
}

.padingGrafica{
   padding-left: 10px;
   border-top-left-radius: 0.7em;
   border-bottom-right-radius: 0.7em;
   background: rgb(255, 255, 255);
   padding-left: 10px;
   padding-bottom: 5px;
   padding-right: 10px;
   width: 400px;
}







@media (max-width: 1604px){
    .contenedorInicial{
        padding-top: 10%;
    }
}

@media (max-width: 654px){
    .contenedorInicial{
        padding-top: 15%;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media (max-width: 455px){
    .contenedorInicial{
        padding-top: 30%;
    }
}